<div class="container">
    <div class="row">
        <div class="col-md-6 col-md-offset-4">
            <img src="/images/logo-white.png" alt="logo"/>
        </div>
    </div>
    <div class="row">
        <div class="col-md-12 text-center">
            <h2 class="text-white">In the process of building something special, come back soon!</h2>
        </div>
    </div>
</div>



